In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('test_df_correlations.csv')

In [3]:
display(df)

          x1        x2        x3        x4           y
0   1.093225  1.309176  1.897384  2.486451   22.235206
1   0.157014  1.904288  3.806877  0.614027   10.353393
2   1.435626  3.195309  0.754102  3.171253   18.539806
3   0.863223  4.285680  2.768888  2.026447   16.726124
4   1.516882  0.326480  1.731697  3.333764   18.630835
..       ...       ...       ...       ...         ...
95  2.535383  0.622430  2.090665  5.370765   86.364681
96  3.980523  4.666955  1.998694  8.261047  331.377799
97  2.012214  2.012195  2.790083  4.324427   42.567848
98  0.874867  2.785506  0.679396  2.049735   17.649409
99  3.275077  0.410708  0.810368  6.850153  183.953917

[100 rows x 5 columns]

In [4]:
X = df[['x1', 'x2', 'x3', 'x4']]
display(X)

          x1        x2        x3        x4
0   1.093225  1.309176  1.897384  2.486451
1   0.157014  1.904288  3.806877  0.614027
2   1.435626  3.195309  0.754102  3.171253
3   0.863223  4.285680  2.768888  2.026447
4   1.516882  0.326480  1.731697  3.333764
..       ...       ...       ...       ...
95  2.535383  0.622430  2.090665  5.370765
96  3.980523  4.666955  1.998694  8.261047
97  2.012214  2.012195  2.790083  4.324427
98  0.874867  2.785506  0.679396  2.049735
99  3.275077  0.410708  0.810368  6.850153

[100 rows x 4 columns]

In [5]:
y = df['y']
display(y)

0      22.235206
1      10.353393
2      18.539806
3      16.726124
4      18.630835
         ...
95     86.364681
96    331.377799
97     42.567848
98     17.649409
99    183.953917
Name: y, Length: 100, dtype: float64

y = f(x), what is f?

In [6]:
df.corr(method='pearson')

          x1        x2        x3        x4         y
x1  1.000000  0.177777  0.057846  1.000000  0.904964
x2  0.177777  1.000000  0.086735  0.177777  0.210846
x3  0.057846  0.086735  1.000000  0.057846  0.057919
x4  1.000000  0.177777  0.057846  1.000000  0.904964
y   0.904964  0.210846  0.057919  0.904964  1.000000

y = f(x1,x2,x3), importance x1 > x2 > x3
pearson = Cov(x,y)/sqrt(std(y)std(x)), good for linear correlations
y = x^10 vs y = x

In [7]:
df.corr(method='spearman')

          x1        x2        x3        x4         y
x1  1.000000  0.150471  0.046553  1.000000  0.979082
x2  0.150471  1.000000  0.080336  0.150471  0.209133
x3  0.046553  0.080336  1.000000  0.046553  0.058722
x4  1.000000  0.150471  0.046553  1.000000  0.979082
y   0.979082  0.209133  0.058722  0.979082  1.000000

pearson -> linear, spearman -> nonlinear

In [ ]:
from scipy.stats import pearsonr, spearmanr

In [ ]:
print(spearmanr(X.values, y.values.reshape((-1,1))).pvalue)

y = p(x1) + a*x2 + b*x3 + c

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.figure()
plt.scatter(X['x1'], y)
plt.plot(np.linspace(0,5,100), 10*np.linspace(0,5,100)**2, color='r')
plt.plot(np.linspace(0,5,100), np.linspace(0,5,100)**4, color='g')

In [ ]:
import statsmodels.api as sm

# building the model and fitting the data
x = X['x1'].values.reshape((-1,1))
for ii in range(2,5):
    x = np.hstack([x, X['x1'].values.reshape((-1,1))**ii])
display(X['x1'])
print(x)
print(x.shape)

In [ ]:
reg = sm.OLS(y, sm.add_constant(x)).fit()

print(reg.summary())

$$y = ax_1^3 + bx_2 + cx_3 + d$$

In [ ]:
V = np.hstack([X['x1'].values.reshape((-1,1))**3, X['x2'].values.reshape((-1,1)), X['x3'].values.reshape((-1,1))])
# print(V)
V = pd.DataFrame(V, columns=['x1^3', 'x2', 'x3'])
display(V)

In [ ]:
reg = sm.OLS(y, sm.add_constant(V)).fit()

print(reg.summary())

In [ ]:
W = V[['x1^3', 'x2']]

In [ ]:
reg = sm.OLS(y, sm.add_constant(W)).fit()

print(reg.summary())

In [ ]:
plt.figure()
plt.scatter(X['x3'], y)

=================== BELOW NOT TO BE RUN ===================

In [ ]:
import numpy as np
np.random.seed(65)

bias = 1.0
coef = np.array([5.0,2.0,0.2]).reshape(-1,1)
sigma_noise = 5.

x1 = np.random.uniform(low=0,high=5,size=(100,1))
x2 = np.random.uniform(low=0,high=5,size=(100,1))
x3 = np.random.uniform(low=0,high=5,size=(100,1))

x = np.concatenate([x1**3,x2,x3],axis=1)
noise = np.random.normal(0,sigma_noise,size=(len(x),1))
# y = A + B*x1 + C*x1**2 + D*x**3 + 
y = x@coef + bias + noise

# Remove quadratic term (needs to be found!!!)
x = x[:,1:]
# Add a correlat

x = np.concatenate([x1,x,2.*x1+0.3],axis=1)

# plt.scatter(x[:,0],y.ravel()) # Linear X1
# plt.scatter(x[:,1],y.ravel()) # Linear X2
# plt.scatter(x[:,2],y.ravel()) # Correlated X1 linear
# print(y)
# print(x)

df = pd.DataFrame(columns=['x1','x2','x3','x4'], data=x)
df['y'] = y
df.to_csv('test_df_correlations.csv',index=False)

=================== BELOW NOT TO BE RUN ===================

In [ ]:
def linear_regression(x: np.ndarray, y: np.ndarray):
    # Add bias unit
    x = np.concatenate([np.ones_like(x),x],axis=1)
    # Solve normal equations
    beta = np.linalg.pinv(x.T@x)@x.T@y
    # Now estimate errors around parameters
    # See: https://stats.stackexchange.com/questions/44838/how-are-the-standard-errors-of-coefficients-calculated-in-a-regression
    sigma_2 = (((y - x@beta)**2)/(x.shape[0] - x.shape[1])).sum()  # Noise estimate
    var = np.linalg.pinv(x.T@x)*sigma_2  # Parameter's variance
    std_err = np.sqrt(np.diag(var))  # Standard error (deviation)
    
    # Return parameters and corresponding standard errors (bias,slope)
    return beta.ravel(), std_err.ravel()